*.cpp
*.log
*.obj
*.cpp
*.htp
multinomialme
*~
*.cov
*.hes
f1b2list1
f1b2list12
f1b2list13
multinomialme.b01
multinomialme.b02
multinomialme.bar
multinomialme.cor
multinomialme.eva
multinomialme.p01
multinomialme.p02
multinomialme.par
multinomialme.std
nf1b2list1
nf1b2list12
nf1b2list13
variance
admodel.dep
